
   .form-container {
  padding: 2rem;
}

.prev-btn,
.submit-btn {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.textcase{
  margin-left: 2px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
  }
  

.prev-btn {
  background-color: gray;
  color: white;
}

.submit-btn {
  background-color: blue;
  color: white;
}
