
   .progress-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.step.active {
  background-color: blue;
}

.line {
  width: 100px;
  height: 5px;
  background-color: lightgray;
}

.line.active {
  background-color: blue;
}
